DB_HOST=localhost
DB_PORT=5432
DB_NAME=stock_db
DB_USER=airflow
DB_PASS=airflow
PROVIDER=vnstock
VNSTOCK_API_KEY =

# GitHub configuration for dashboard auto-publishing
GITHUB_PAT=your_github_personal_access_token_here
GITHUB_REPO=github.com/your_username/your_repo_name.git
